*{
  margin: 0;
  padding: 0;
}
input[type=text],input[type=password]{
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
  }

#background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/log.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  z-index:-100;
}
input[type=submit], input[type=button]{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  cursor:pointer;
}#background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/log.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size:cover;
  z-index: -100;
}
form{
  padding-top: 20px;
  width: 75%;
  position: fixed;
top: 30%;
left: 40%;

	
}
