input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid green;
  border-radius: 4px;
  }
body{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;  
}
#background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('images/customer.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: -100;
}
input[type=submit], input[type=reset],input[type=button]{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
